<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
      
{% load static %}
<div class="container-fluid">
    <br><br>
      <h2 style="margin-left:30%">Evaluation Conseil parcours</h2>
      <br>
      <section class=" text-center text-lg-start">
          <div class="card  shadow-lg">
            <div class="fr-grid-row">
              <div class="fr-col">
                  <div class="col-demo"><img src="{% static 'evaluationapp/media/evaluation_team.jpg' %}" class="img-fluid" althtml="prefecture logo" style="width: 400px"></div>
              </div>
              <div class="fr-col">
                  <div class="col-demo" style="margin:4px; margin-top:20px; margin-right: 20px;">
                    <form method="post" class="form-control" style="background-color: rgb(235, 231, 231)">
                      {% csrf_token %}
                      {% if form.errors %}
                      <p>Le nom d'utilisateur et le mot de passe ne correspondent pas</p>
                      {% else %}
                      {% endif %}
                      <div class="fr-input-group" id="input-group-3523">
                      Nom : </br>
                      {{ form.username}}<br><br>
                      </div>
                      <div class="fr-input-group" id="input-group-3523">
                      Mot de passe : </br>
                       {{ form.password }}
                  <br><br>
                  </div>
                       
                       <button type="submit" class="btn btn-primary">Connexion</button>
      
                      </div>
                      </form>        
                  </div>
              </div>
          </div>
        </div>
        </section>
    </div>



{% endblock %}

