{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div class="container-fluid" style="margin-left:100px">
    <br><br>
    <h1>Connexion</h1>
 <div class="module" style="margin-left: 100px;">
 {% if form.errors %}
 <p>Si l'identifiant et le mot de passe ne marchent pas. Essayez encore une fois.</p>
 {% else %}
 <p>Remplissez le formulaire pour vous connecter :</p>
 {% endif %}
 <div class="login-form">
 <form action="{% url 'login' %}" method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <input type="hidden" name="next" value="{{ next }}" />
 <button class="fr-btn" type="submit">Connexion</button>
 </form>
 </div>
 </div>
    
</div>
 
{% endblock %}
