<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<!-- Section: Design Block -->
<div class="container-fluid">
  <br><br>
  <div class="col-lg-8 d-none d-lg-flex" style="margin:7px">
    <img src="{% static 'evaluationapp/media/PREF_region_Normandie_CMJN.jpg' %}" class="img-fluid" althtml="PFRH logo" style="width: 100px">
    <img src="{% static 'evaluationapp/media/PFRH logo.jpg' %}" class="img-fluid" althtml="PFRH logo" style="margin-left:100px;width: 100px">
    <h2 style="margin-left:30%">Evaluation Conseil parcours</h2>
  </div>
  <br><br>
    <section class=" text-center text-lg-start">
      <div class="card mb-3 shadow-lg">
        <div class="fr-grid-row">
          <div class="fr-col">
              <div class="col-demo"><img src="{% static 'evaluationapp/media/evaluation_team.jpg' %}" class="img-fluid" althtml="prefecture logo" style="width: 400px"></div>
          </div>
          <div class="fr-col">
              <div class="col-demo" style="margin:40px">
                {% if user.is_authenticated %}
                Bonjour {{ user.username }}!
                <h4><a href="{% url 'logout' %}">Log Out</a></h4>
              {% else %}
                <h4>Connectez-vous à votre compte</h4>
                <a href="{% url 'login' %}">Connexion</a>
                
              {% endif %}      
              </div>
          </div>
      </div>
        </div>
      </section>
      <br><br>
     
</div>
{% endblock %}