<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
<!-- Section: Design Block -->
<div class="container-fluid">
  <br><br>
    <h2 style="margin-left:30%">Evaluation Conseil parcours</h2>
    <h4>Avant de commencer</h4>
    <h6>Définitions utiles :</h6>
    <ul>
      <h6>Un point fort est</h6>
      <li><p>Ce que je fais volontier et bien</p></li>
      <li><p>Ce qui me permet d'avoir des résultats et du succès</p></li>
      <li><p>Ce qui m'assure les compliments et la reconnaissance des autres</p></li>
      <li><p>Ce qui me donne un sentiment d'aisance et de sécurité</p></li>
      
    </ul>
    <h4>Un trait de personnalité est :</h4>
    Une grande tendance de fonctionnement comme par exemple la curiosité (je suis toujours disponible à apprendre)
    <br></br></br>
      <h4>{% if user.is_authenticated %}
        {{ user.username }} citez nous un projet ou une activité représentant une réussite pour vous
        {% endif %}</h4>
        <audio controls>
          <source src="{% static 'evaluationapp/media/audiovoice01.mp3' %}" type="audio/mpeg">
        </audio>
      </br></br>
      <div class="row g-0 d-flex align-items-center">
        <div class="shadow-lg p-3 mb-5 bg-white rounded align-items-center" style="width:80%;height:1700px; margin:60px">
          
          <form method="post">{% csrf_token %}
            <div class="fr-messages-group" id="checkboxes-valid-inline-1-messages" aria-live="polite">
              <div class="fr-input-group" id="input-group-3523">
                <label class="fr-label" for="text-1">
                  <h4>Projet, activité, réalisation</h4>
                </br><h6>Contexte (avec qui, quand, où...)</h6>
                </label></br>
                {{ form_etape.contexte }}
             
            </br></br>
              </div>
              </br>
              <div class="fr-input-group" id="input-group-3523">
                <label class="fr-label" for="text-1">
                </br><h6>Quel était le sujet à traiter, le défi à relever,</h6>
                <h6>la tâche à accomplir le problème à résoudre ?</h6>
                </label></br>
                {{ form_etape.le_sujet }}
              
            </br></br>
              </div>
              <div class="fr-input-group" id="input-group-3523">
                <label class="fr-label" for="text-1">
                  <h6>Ce que vous avez fait concrètement au titre de ce projet</h6>
                  <h6>activité, réalisation ?</h6>
                </label></br>
              {{ form_etape.realisation }}
            </br></br>
              </div>
              <div class="fr-input-group" id="input-group-3523">
                <label class="fr-label" for="text-1">
                  <h6>Quels ont été les résultats ou bénéfices obtenus ?</h6>
                </label></br>
              {{ form_etape.resultats_obtenus }}
            </br></br>
              </div>
              <div class="fr-input-group" id="input-group-3523">
                <label class="fr-label" for="text-1">
                  <h6>Existe-il une suite, un suivi ?</h6>
                </label></br>
              {{ form_etape.suivi }}
            </br></br>
              </div>
              <div class="fr-input-group" id="input-group-3523">
                <label class="fr-label" for="text-1">
                  <h6>Citez 3 points forts qui ont facilité votre réussite ?</h6>
                </label></br>
              {{ form_etape.points_forts_acquis }}
            </br></br>
              </div>
              <div class="fr-input-group" id="input-group-3523">
                <label class="fr-label" for="text-1">
                  <h6>Lesquel sont les traits de personnalité utilisés ou acquis à cette occasion ?</h6>
                </label></br>
              {{ form_etape.traits_personnalité }}
            </br></br>
              </div>
              <div class="fr-input-group" id="input-group-3523">
                <label class="fr-label" for="text-1">
                  <h6>A l'issue de cette activité, projet, réalisation vous diriez: "Je suis capable de ..."</h6>
                </label></br>
              {{ form_etape.capable_de }}
            </br></br>
          
          <p><input type="submit" value="Enregistrer" class="btn btn-primary"></p>
      
          </form>
        </div>
      </div>
</div>
</br></br></br></br>

{% endblock %}