<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
<!-- Section: Design Block -->
<div class="container-fluid" style="margin-left: 100px">
  <p><a href="{% static 'evaluationapp/media/Définition_ des _talents.pdf' %}">Documentation talents</a></p>
  <br><br>
      <h2>{% if user.is_authenticated %}
        {{ user.username }} Choisir 5 talents
        {% endif %}</h2>
        <form method="post">{% csrf_token %}
          <div class="fr-messages-group" id="checkboxes-valid-inline-1-messages" aria-live="polite">
           {{ form.as_table }}
          </div>
          <p><input type="submit" value="Enregistrer" class="btn btn-primary"></p>
        </div>
      </form>
 
</div>
</br></br></br></br>

{% endblock %}